<div class="container games">

	<header>
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<h1>Games List</h1>
			</div>
			<div class="col-md-4 col-xs-12">
				<button class="btn btn-secondary margin-top pull-right margin-bottom" 
					ng-click="$ctrl.deleteAllGames()"
					data-e2e="remove-all-games">
					<i class="fa fa-times-circle" aria-hidden="true"></i>
					Delete all games
				</button>
			</div>
		</div>
	</header>

	<section ng-if="$ctrl.errorMessage">
		<div class="alert alert-danger">
			<strong>ERROR!</strong>
			{{$ctrl.errorMessage}}
		</div>
	</section>
	
	<section>
		<div class="row game-row hidden-xs hidden-sm">
			<div>
				<div class="col-md-3 col-xs-12">
					<strong>Time</strong>
				</div>
				<div class="col-md-5 col-xs-12">
					<strong>Players option</strong>
				</div>
				<div class="col-md-2 col-xs-12">
					<strong>Opponent option</strong>
				</div>
				<div class="col-md-2 col-xs-12">
					<strong>Result</strong>
				</div>
			</div>
		</div>
		<div ng-repeat="game in $ctrl.gamesList" class="game">
			<div class="row game-row" 
				 ng-class="{'game-row--win' : $ctrl.isGameWonByPlayer(game), 
				 			'game-row--lost' : $ctrl.isGameLostByPlayer(game)}">
				<div class="col-md-3 col-xs-12">
					<strong class="hidden-lg hidden-md">time: </strong>
					{{game.timestamp | date : 'short'}}
				</div>
					<div class="col-md-5 col-xs-12">
						<div ng-if="$ctrl.hasPlayerPlayedInGame(game)">
						<strong class="hidden-lg hidden-md">Player's option: </strong>
						<player-option-as-icon option="game.playerOption"></player-option-as-icon>
						{{game.playerOption}}
					</div>
					<div ng-if="!$ctrl.hasPlayerPlayedInGame(game)">
						<button class="btn btn-primary btn-small"
							ng-click="$ctrl.playGameWith(game,'rock')">
							<player-option-as-icon option="'rock'"></player-option-as-icon>
							Rock 
						</button>
						<button class="btn btn-primary btn-small"
							ng-click="$ctrl.playGameWith(game,'paper')">
							<player-option-as-icon option="'paper'"></player-option-as-icon>
							Paper
						</button>
						<button class="btn btn-primary btn-small"
							ng-click="$ctrl.playGameWith(game,'scissors')">
							<player-option-as-icon option="'scissors'"></player-option-as-icon>
							Scissors
						</button>
					</div>
					
				</div>
				<div class="col-md-2 col-xs-12">
					<strong class="hidden-lg hidden-md">Opponent's' option: </strong>
					<player-option-as-icon option="game.computerOption"></player-option-as-icon>
					{{game.computerOption}}
				</div>
				<div class="col-md-2 col-xs-12">
					<strong class="hidden-lg hidden-md">Result: </strong>
					{{$ctrl.gameResultFromPlayerPerspective(game)}}
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="row">
			<div class="col-xs-12">
				<hr/>
				<button class="btn btn-primary margin-top margin-bottom" 
						ng-click="$ctrl.addNewGame()"
						data-e2e="add-new-game">
						<i class="fa fa-plus" aria-hidden="true"></i>
						Add new game
				</button>
			</div>
		</div>
	</footer>

</div>